[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.1.5"
djangorestframework = "==3.9.1"
gunicorn = "==19.9.0"
"psycopg2-binary" = "==2.7.7"
pillow = "*"
djangorestframework-jwt = "*"
coreapi = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
django-filter = "*"
django-jsonfield = "*"
instamojo-wrapper = "*"

[dev-packages]

[requires]
python_version = "3.7"
