@media only screen and (min-width: 768px){
    .big-screen-margin-invite{
        margin-left: 15em;
        margin-right: 1em;
    }
}
@media only screen and (max-width: 768px){
    .big-screen-margin-invite{
        margin-left: 4em;
    }
}