.pricing-card .price .number::before {
    content: "₹" !important;
}

.pricing-card .price .number::after {
    content: "/year" !important;
}
.pricing-card .price  .number1::after {
    content: "/mo" !important;
}
