/* The side navigation menu */
.dashboard-sidenav {
    height: 100%;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    min-height: 100vh;
    max-width: 16em;
}


/* The navigation menu links */
.dashboard-sidenav a {
    padding: 0.5em;
    font-size: 1.5em;
    color: #effeff;
    display: block;
}
