.carousel-image {
    height: 375px;
    overflow: hidden;
}



.carousel-loading{
    background-color: #CDCDCD;
}


@media only screen and (max-width: 576px) {
    .carousel-image {
        height: 275px;
        overflow: hidden;
    }
  }
