.row-background{
    position: fixed;
    z-index: 99;
    left: 0;
    right: 0;
}

.search-options{
    background-color: white;
    display: inline-flex;
    border-radius: 2em;
}
.image-padding{
    margin-top: .36em;
}

.text-fix{
    font-weight: bold;
    letter-spacing: 1px;
    width: 8em;
}

.celeb-search-input{
    border: none;
    background-color: none;
    outline: 0;
    width: 16em;
}

/* Mobile (sm) Screen */
.row-background-sm{
    background-color: grey;
    top: 3em;
    position: fixed;
    z-index: 99;
    left: 0;
    right: 0;
}

.celeb-search-input-sm{
    outline: 0;
    border-radius: 2em!important;
    height: 3em!important;
    width: 100%!important;
}
