.row-background{
    position: fixed;
    z-index: 99;
    left: 0;
    right: 0;
}

.search-options{
    background-color: white;
    display: inline-flex;
}

.text-fix{
    font-weight: bold;
    letter-spacing: 1px;
    width: 8em;
}

.celeb-search-input{
    border: none;
    background-color: none;
    outline: 0;
    width: 16em;
}
  