@media only screen and (min-width: 768px){
    .big-screen-margin-setting{
        margin-left: 12em!important;
        margin-right: 1em;
        margin-top: 1.5em;
        max-width: 70rem;
    }
}
@media only screen and (max-width: 768px){
    .big-screen-margin-setting{
        margin-left: 1.5em!important;
        margin-top: 1.5em;
    }
}